
<h1>新規todo</h1>
<%= form_for(@todo) do |f| %>
<%= hidden_field_tag :category_id, @category.id %>
  <div><%= f.label :content %></div>
  <div><%= f.text_field :content %></div>
  <div><%= f.submit %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Todoリスト</th>
    </tr>
  </thead>
  <tbody>
    <% @category.todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        
        <td><%= link_to "削除", todo, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', categories_path %>


