
<h1>新規todo</h1>
    <%= form_for [@category, @todo] do |f| %>
      <div>
        <%= f.text_area :content %>
      </div>
        <%= f.submit :送信 %>
    <% end %>

<table>
  <thead>
    <tr>
      <th>Todoリスト</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= link_to "編集", edit_category_todo_path(@category.id,todo.id) %></td>
        <td><%= link_to "削除", category_todo_path(@category.id,todo.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', categories_path %>


